:root{
  --primary:#00e0b8;
  --bg:#020617;
  --text:#e2e8f0;
  --muted:#94a3b8;
}

*{margin:0;padding:0;box-sizing:border-box}

body{
  font-family:Inter, sans-serif;
  background:var(--bg);
  color:var(--text);
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 20px;
  background:rgba(2,6,23,.8);
  backdrop-filter: blur(10px);
}

.logo{
  border:2px solid var(--primary);
  padding:6px 10px;
  border-radius:8px;
  color:var(--primary);
  font-weight:700;
}

.navlinks a{
  color:var(--text);
  text-decoration:none;
  margin:0 10px;
  position:relative;
}

.navlinks a::after{
  content:"";
  position:absolute;
  width:0%;
  height:2px;
  bottom:-4px;
  left:0;
  background:var(--primary);
  transition:.3s;
}

.navlinks a:hover::after{width:100%}

/* HERO */
.container{max-width:1100px;margin:auto;padding:100px 20px}

.hero{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px;
  align-items:center;
}

.gradient{
  background:linear-gradient(90deg,#00e0b8,#38bdf8);
  -webkit-background-clip:text;
  color:transparent;
}

.btn{
  background:var(--primary);
  padding:10px 18px;
  border-radius:10px;
  text-decoration:none;
  color:black;
  display:inline-block;
  margin-top:15px;
}

.outline{
  background:transparent;
  border:2px solid var(--primary);
  color:var(--primary);
}

.card{
  background:rgba(15,23,42,.6);
  padding:20px;
  border-radius:16px;
  margin-top:20px;
}

.center{text-align:center}

.profile{
  width:120px;
  border-radius:12px;
}

.section{margin-top:40px}

.footer{text-align:center;margin-top:50px;color:var(--muted)}

/* MOBILE */
@media(max-width:768px){
  .hero{grid-template-columns:1fr}
  .navlinks{display:none}
  }
